<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Servicio Mecánico</title>

    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<header>
    <nav class="generic-navbar">
        <div class="app-brand">
            <a href="/admin/home">AUDI SERVICES</a>
        </div>
        <div class="app-links">
            <ul>
                <li class="link-item">
                    <a>A1</a>
                </li>
                <li class="link-item">
                    <a>Q7</a>
                </li>
                <li class="link-item">
                    <a>R8</a>
                </li>
            </ul>
        </div>
        <div class="app-actions">
            <a th:href="@{/logout}">Cerrar sesión</a>
        </div>
    </nav>
</header>

<h1 class="text-center text-white" style="font-size: 24px; text-transform: uppercase; margin-top: 20px" th:text="${'BIENVENIDO ' + usuario.username}"></h1>

<div class="main-container">
    <div style="display: flex; flex-direction: row; align-self: center; margin-top: 170px;">
        <form th:action="@{/admin/servicio/}" method="get" style="align-self: center; margin-right: 16px;">
            <button class="btn generic-btn" type="Submit">NUEVO SERVICIO</button>
        </form>
        <form th:action="@{/admin/servicio/servicios}" method="get" style="align-self: center;">
            <button class="btn secundary-btn" type="Submit">VER SERVICIOS</button>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>